<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
    <title><%= title%></title>
    <!-- <style>
      .image-upload-preview-with-crop--imageWrapper--cPa0q {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: #f7f9fa;
        padding: 2px;
        height: auto;
      }
      .ReactCrop {
          position: relative;
          display: inline-block;
          cursor: crosshair;
          overflow: hidden;
          max-width: 100%;
          background-color: #000;
      }
      .image-upload-preview-with-crop--imageWrapper--cPa0q .ReactCrop>img {
          max-height: 100%;
      }
    </style> -->
    <style>
      /* * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      } */
      .container-img{
          /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 100vh;
          /* background-color: rgb(255, 240, 222); */
          background-color: rgba(170, 170, 170, 0.2);
      }

      #file-input {
          display: none;
      }

      .preview {
          padding: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          max-width: 350px;
          margin: auto;
          background-color: rgb(255, 255, 255);
          box-shadow: 0 0 20px rgba(170, 170, 170, 0.2);
      }

      #img-preview {
          width: 100%;
          object-fit: cover;
          margin-bottom: 20px;
      }

      .upload-image {
          font-weight: 600;
          cursor: pointer;
          color: #fff;
          border-radius: 2px;
          padding: 10px 20px;
          /* background-color: rgb(101, 101, 255); */
          background-color: black
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="view-account">
        <section class="module">
          <div class="module-inner">
            <div class="side-bar">
              <div class="user-info">
                <img class="img-profile img-circle img-responsive center-block" style="object-fit: cover;" src="<%= user.avatar %>" alt="">
                <ul class="meta list list-unstyled">
                  <% if (user.fullName) { %>
                  <li class="name"> <%=user.fullName%>
                    <% if (user.headLine) { %>
                    <label class="label label-info"><%=user.headLine%></label>
                    <% } %>
                  </li>
                  <!-- show persional link -->
                  <!-- <li class="email"><a href="#">Rebecca.S@website.com</a></li> -->
                  <!-- <%if(user.list_social[0].url) {%>
                    <li class="email"><a href="<%= user.list_social[0].url%>" target="_blank"><%= user.list_social[0].url %></a></li>
                    <% } %> -->
                  <% } %>
                </ul>
              </div>
              <nav class="side-menu">
                <ul class="nav">
                  <li><a href="edit-profile"><span class="fa fa-user"></span> Profile</a></li>
                  <li><a href="edit-account"><span class="fa fa-key"></span> Account</a></li>
                  <li class="active"><a href="edit-photo"><span class="fa fa-picture-o"></span> Photo </a></li>
                  <li><a href="#"><span class="fa fa-credit-card"></span> Payment methods</a></li>
                  <li><a href="#"><span class="fa fa-envelope"></span> Messages</a></li>
                </ul>
              </nav>
            </div>
            <div class="content-panel">
              <div class="content-title">
                <h2 class="title">Photo</h2>
                <h4 class="sub-title">Add a nice photo of yourself for your profile.</h4>
              </div>
              <hr>
              <div class="container">
                <!-- <div class="col-md-8 col-md-offset-2"> -->
                <div>
                    <form method="post" action="edit-photo?_method=PATCH" enctype="multipart/form-data">
                      <div class="form-group">
                          <!-- <label class="udheavy-form-label control-label " for="id_image_file">Image preview</label>
                          <img id="blah" class="ReactCrop__image" src="https://img-c.udemycdn.com/user/200_H/anonymous_3.png" alt="your image" />
                          <label class="udheavy-form-label control-label">Add / Change Image:</label>
                          accept="image/*" => chỉ chấp nhận các file dạng hình ảnh
                          <input type="file" name="avatar" id="imgInp" accept="image/*" class="input-group input-file" required/> -->
                          <div class="container-img">
                            <div class="preview">
                              <img id="img-preview" src="https://img-c.udemycdn.com/user/200_H/anonymous_3.png" />
                              <label for="file-input" class="upload-image">Upload Image</label>
                              <input type="file" accept="image/*" name="avatar" class="input-group input-file" id="file-input" required/>
                            </div>
                          </div>
                          <hr>
                          <div style="text-align: center;">
                            <button type="submit" class="btn btn-primary pull-center">Save</button>
                          </div>
                          <hr>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <footer><%- include('../component/footer.ejs')%></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      // imgInp.onchange = evt => {
      //   const [file] = imgInp.files
      //   if (file) {
      //     blah.src = URL.createObjectURL(file)
      //   }
      // }

      const input = document.getElementById("file-input");
      const image = document.getElementById("img-preview");

      input.addEventListener("change", (e) => {
        if (e.target.files.length) {
          const src = URL.createObjectURL(e.target.files[0]);
          image.src = src;
        }
      });

    </script>
  </body>
</html>