<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> 
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/profile.css" />
  <title><%= title%></title>
</head>
<body>
    <div class="container">
        <div class="view-account">
            <section class="module">
                <div class="module-inner">
                    <div class="side-bar">
                        <div class="user-info">
                            <img class="img-profile img-circle img-responsive center-block" src="https://www.donkey.bike/wp-content/uploads/2020/12/user-member-avatar-face-profile-icon-vector-22965342-300x300.jpg" alt="">
                            <ul class="meta list list-unstyled">
                                <!-- <li class="name">Rebecca Sanders
                                    <label class="label label-info">UX Designer</label>
                                </li>
                                <li class="email"><a href="#">Rebecca.S@website.com</a></li> -->
                                <% if (user.fullName) { %>
                                    <li class="name"> <%=user.fullName%>
                                        <% if (user.headLine) { %>
                                            <label class="label label-info"><%=user.headLine%></label>
                                        <% } %>
                                    </li>
                                    <li class="email"><a href="#">Rebecca.S@website.com</a></li>
                                <%} else { %>
                                    <!-- <li class="name">Your full name
                                        <label class="label label-info">UX Designer</label>
                                    </li>
                                    <li class="email"><a href="#">Rebecca.S@website.com</a></li> -->
                                <% } %>
                            </ul>
                        </div>
                        <nav class="side-menu">
                            <ul class="nav">
                                <li class="active"><a href="edit-profile"><span class="fa fa-user"></span> Profile</a></li>
                                <li><a href="edit-account"><span class="fa fa-key"></span> Account</a></li>
                                <li><a href="#"><span class="fa fa-credit-card"></span> Payment methods</a></li>
                                <li><a href="#"><span class="fa fa-envelope"></span> Messages</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="content-panel">
                        <div class="content-title">
                            <h2 class="title">Profile</h2>
                            <h4 class="sub-title">Add information about yourself</h4>
                        </div>
                        <form class="form-horizontal">
                            <fieldset class="fieldset">
                                <h3 class="fieldset-title">Personal Info:</h3>
                                <div class="form-group avatar">
                                    <figure class="figure col-md-2 col-sm-3 col-xs-12">
                                        <img class="img-rounded img-responsive" src="https://www.donkey.bike/wp-content/uploads/2020/12/user-member-avatar-face-profile-icon-vector-22965342-300x300.jpg" alt="">
                                    </figure>
                                    <div class="form-inline col-md-10 col-sm-9 col-xs-12">
                                        <input type="file" class="file-uploader pull-left">
                                        <button type="submit" class="btn btn-sm btn-default-alt pull-left">Update Image</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">User Name</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control" value=<%= user.username %> disabled>
                                    </div>
                                </div>
            
                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Email</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control" value=<%= user.email %> disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Full Name</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control" placeholder="Your full name" value=<%= user.fullName  %> >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">HeadLine</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control" placeholder="HeadLine" value=<%= user.headLine %>>
                                        <p class="help-block">Add a professional headline like, "Engineer at Udemy" or "Architect."</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Biography</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <p contenteditable="true" id="content-biography"></p>
                                        <input type="hidden" name="biography" class="form-control" id="input-biography">
                                        <p class="help-block">Links and coupon codes are not permitted in this section.</p>
                                    </div>
                                </div>
                            </fieldset>
                            <% if (user.isTeacher === true) { %>
                                <fieldset class="fieldset" id="fieldset-link">
                                    <h3 class="fieldset-title">Links:</h3>
                                    <div class="form-group">
                                        <label class="col-md-2  col-sm-3 col-xs-12 control-label">Your website</label>
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="email" class="form-control" placeholder="Rebecca@website.com">
                                            <p class="help-block">Add your website</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2  col-sm-3 col-xs-12 control-label">Twitter</label>
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" placeholder="eg. SpeedyBecky">
                                            <p class="help-block">Your twitter username</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2  col-sm-3 col-xs-12 control-label">Linkedin</label>
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="url" class="form-control" placeholder="eg. https://www.linkedin.com/in/lorem">
                                            <p class="help-block">https://www.linkedin.com/in/yourname</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2  col-sm-3 col-xs-12 control-label">Facebook</label>
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="url" class="form-control" placeholder="eg. https://www.facebook.com/hanh19">
                                            <p class="help-block">https://www.facebook.com/username</p>
                                        </div>
                                    </div>
                                </fieldset>
                            <% } %>
                            <hr>
                            <div class="form-group">
                                <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                    <input class="btn btn-primary" type="submit" value="Update Profile">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer><%- include('../component/footer.ejs')%></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        console.log($('#content-biography').text());

        var input = document.getElementById("content-biography");
        input.onkeyup = (function () {
        var content = $('#content-biography').text();
        $("#input-biography").val(content);
        // console.log($("#input-biography").val());
        });
    </script>
</body>
</html>