<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <%- include('./component/header')%>
    </header>
    <h1><%= title %></h1>
    <p>Welcome to 123456 <%= title %></p>
    <footer>
      <%- include('./component/footer')%>
    </footer>
  </body>
</html>
