<%- include('_head')%>

<div class="container mt-4">
  <img src="<%=course.image %>" alt="" />
  <h3><%=course.title %></h3>
  <p><%=course.author %></p>

  <section><%- include('rate-star') %></section>
</div>
