<head>
  <%- include('_head')%>
</head>
<body>
  <header>
    <%- include('header')%>
    <nav><%- include('categories')%></nav>
  </header>

  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-8">
        <h3><%=course.title %></h3>
        <p><%=course.author %></p>
      </div>
      <div class="col-sm-12 col-lg-4 float-end">
        <div class="card">
          <img src="<%=course.image %>" class="card-img-top" alt="" />
          <div class="card-body">
            <h5 class="card-title">Price: $<%=course.price %></h5>
            <div class="row">
              <div class="col-sm-9">
                <a href="#" class="btn btn-dark fw-bold text-light h-100 w-100"
                  >Add to cart</a
                >
              </div>
              <div class="col-sm-3">
                <a href="#" class="btn btn-secondary h-100 w-100"
                  ><i class="far fa-heart mt-1 text-light fw-bold"></i
                ></a>
              </div>
            </div>
            <div class="mt-2">
              <a href="" class="btn btn-dark w-100 h-100 fw-bold text-light"
                >Buy now</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8" style="margin-top: -24%">
        <button
          class="text-start btn btn-light w-100 mb-2 border-dark border-2 fw-bold"
          id="btn"
        >
          Chapter 1
        </button>
        <ul id="list">
          <li class="btn btn-light w-100 border-dark border-1">Bài 1</li>
          <li class="btn btn-light w-100 border-dark border-1">Bài 1</li>
          <li class="btn btn-light w-100 border-dark border-1">Bài 1</li>
          <li class="btn btn-light w-100 border-dark border-1">Bài 1</li>
        </ul>
        <button
          class="text-start btn btn-light w-100 fw-bold border-dark border-2 mb-2"
        >
          Chapter 2
        </button>
        <button
          class="text-start btn btn-light w-100 fw-bold border-dark border-2 mb-2"
        >
          Chapter 3
        </button>
        <button
          class="text-start btn btn-light w-100 fw-bold border-dark border-2 mb-2"
        >
          Chapter 4
        </button>
      </div>
    </div>
  </div>

  <footer class="mt-5"><%- include('footer')%></footer>
  <script>
    var button = document.getElementById("btn");
    var list = document.getElementById("list");
    list.style.display = "none";

    button.addEventListener("click", (event) => {
      if (list.style.display == "none") {
        list.style.display = "block";
      } else {
        list.style.display = "none";
      }
    });
  </script>
</body>
