<link rel="stylesheet" href="/stylesheets/learning-course.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="col-md-12 d-flex">
    <div class="col-md-9">
        <% let pos = 0 %>
        <video id="myVideo" width="100%" height="400" controls>
            <source id="my_video_url" src="<%= list_chapter[pos].list_video[pos].video_url%>" type="video/mp4">
            <source src="mov_bbb.ogg" type="video/ogg">
            Your browser does not support HTML5 video.
          </video>
          <a href="" class="btn btn-star">Rate Star</a>
        <p><%= list_chapter[pos].list_video[pos].title %></p>
        <p><%= list_chapter[pos].list_video[pos].description %></p>
    </div>
    <div class="col-md-3">
        <ul>
            <%for(let i = 0; i < list_chapter.length; i++) { %>
                <li class="chapter-item">
                    <span class="chapter-position">Chapter <%= list_chapter[i].position%>:</span> <%= list_chapter[i].title %>
                    <ul>
                        <% list_chapter[i].list_video.forEach(video => {%>
                            <li class="video-item" data-url="<%=video.video_url%>">
                                <span class="video-position">Video <%= video.position %>:</span>
                                <%= video.title %>
                            </li>
                        <% }) %>
                    </ul>
                </li>
            <% } %>
        </ul>
    </div>
</div>
<script>
    var vid = document.getElementById("myVideo");
    var source = document.getElementById("my_video_url");
    console.log(source);
    var sourceUrl = source.getAttribute("src");
    console.log('a: ',sourceUrl);
    let listVideo = document.getElementsByClassName("video-item");
    
    let count = 0;
    function load_ajax() {
        let percent;
        percent = Math.round((vid.currentTime / vid.duration) * 100);
         if(percent > 90) {
             count++;
             console.log(percent);
            $.ajax({
                    url : "process/store",
                    type : "POST",
                    dataType:"json",
                    data : obj,
                    success : function (result){
                        console.log("Successful");
                    }
                });
         }
    }
    let obj = {
        "totalVideo": listVideo.length,
        "videoFinish": 1,
        "count": count
    }
     var myInterval = setInterval(() => {
         load_ajax();
     }, 1000);
     console.log(count);
     if(count > 0) {
         console.log("Stop post");
         clearInterval(myInterval);
     }
     console.log('Total video: ', listVideo.length);    
    Array.prototype.forEach.call(listVideo, video => {
        video.addEventListener('click', function(e) {
            console.log('b: ',e.target.getAttribute('data-url'));
            source.setAttribute("src", e.target.getAttribute('data-url'));
            var sourceUrl = source.getAttribute("src");
            console.log('a again: ',sourceUrl);
        })
    });

</script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>