<link rel="stylesheet" href="stylesheets/top-courses.css">
<% for(let i=0; i<listCategory.length; i++) {%>
<h4 class="category_title">Top courses in <%= listCategory[i].category_name %></h4>
<div class="image-slider">
  <% for(let j=0; j<courses.length; j++) { %>
    <% if(courses[j].topic_id.category_id.toString() === listCategory[i].category_id.toString()) {%>
      <div class="image-item">
        <a class="course-link" href="/course/<%-courses[j].slug%>">
          <div class="image">
            <img
              src="<%=courses[j].image%>"
              alt=""
            />
          </div>
          <div class="image-title"><%=courses[j].title%></div>
          <div class="author"><%=courses[j].author%></div>
          <div class="description"><%=courses[j].description%></div>
          <% if(courses[j].price_discount === 0 || courses[j].price_discount === null) { %> 
            <div class="price">$<%=courses[j].price%></div>
            <% } else { %>
              <div class="price">$<%= courses[j].price_discount %><del><%= courses[j].price %></del></div>
              <div class="sell-price">Bestseller</div>          
            <% } %>
          </a>
          <div class="btn-group">
            <button class="btn btn-add">Add to card</button>
          </div>
      </div>
    <% } %>
  <% } %>
</div> 
<% } %>
