<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<div class="container">
  <h1>Question Management</h1>
  <% if(questions.length === 0 || questions === null) {%>
    <h5>You do not have any questions</h5>
  <% } else { %>
  <%questions.forEach(function(data, index) { %>
    <div class="quenstion p-3 mt-5" style="background-color: rgb(231, 231, 231); border-radius: 20px;">
      <p>Question <%= index + 1 %> : <%= data.question %></p>
      <p>1. <%= data.answer_1 %></p>
      <p>2. <%= data.answer_2 %></p>
      <p>3. <%= data.answer_3 %></p>
      <p>4. <%= data.answer_4 %></p>
      <p><p>Result : <%= data.result %></p></p>
    <form action="/question/deleteQuestion/<%= idCourse %>/<%= data._id %>?_method=DELETE" method="post">
      <button class="btn btn-danger">DELETE</button>
    </form>
    </div>
  <%}) %>
  <% } %>
 <a href="/instructor" class="btn btn-warning my-3">Back</a>
</div>
<style>
    
</style>
