<div class="container">
  <form
    class="row g-3"
    action="/instructor/courses/<%= courses.slug %>/updated?_method=PUT"
    method="POST"
  >
    <h2>Update course page</h2>
<<<<<<< HEAD
    <div class="form-group col-12 d-none">
=======
    <div class="form-group col-12" style="display: none;">
>>>>>>> b5b4abdafadc21c800899ef5f7f4da6c4b502d5e
      <label for="exampleInputEmail1" class="fw-bold">User ID:</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="user_id"
        value="<%= courses.instructor_id %>"
        readonly
      />
    </div>
    <div class="form-group col-12">
      <label for="exampleInputEmail1" class="fw-bold">Title</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        value="<%= courses.title %>"
        name="title"
      />
    </div>
    <div class="form-group col-12">
      <label for="exampleInputPassword1">Description</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        value="<%= courses.description %>"
        name="description"
      />
    </div>
    <div class="form-group col-12">
      <label for="exampleInputPassword1">Image</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        value="<%= courses.video_id %>"
        name="video_id"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="exampleInputPassword1">Author</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        value="<%= courses.author %>"
        name="author"
      />
    </div>

    <div class="form-group col-md-6">
      <label for="exampleInputPassword1">Topic</label>
      <select class="form-control" name="topic_id">
        <option selected class="font-weight-bold">
          <%= courses.topic_id.name%>
        </option>
        <% getTopics.forEach(topic => { %>
        <option value="<%= topic._id %>"><%= topic.name%></option>
        <% }); %>
      </select>
    </div>

    <div class="form-group col-md-6">
      <label for="exampleInputPassword1">Price</label>
      <input
        type="number"
        class="form-control"
        id="exampleInputPassword1"
        value="<%= courses.price %>"
        name="price"
      />
    </div>

    <div class="form-group col-md-6">
      <label for="exampleInputPassword1">Discount</label>
      <input
        type="number"
        class="form-control"
        id="exampleInputPassword1"
        value="<%= courses.price_discount%>"
        name="price_discount"
      />
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-dark fw-bold mt-4">Submit</button>
    </div>
  </form>
</div>
